#Tell lombok this is root directory
config.stopBubbling = true
# Fix inconsistencies for Jackson Json mapper, Mapstruct, etc.
# always generate getter getIsPublished() instead of isPublished() for field isPublished
# not only for Boolean but for primitive boolean too.
lombok.getter.noIsPrefix = true