<div th:replace="fragments/header :: header"></div>
<main class="container">

  <!--  <div th:replace="/security/authBody :: start"></div>-->
  <div class="row mb-2">
    <div class="col-md-12">
      <div
          class="preview row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm position-relative">
        <div class="000col p-4 d-flex flex-column position-static" style="align-items: center;">
          <div th:replace="fragments/auth/formRegistration :: formRegistration"></div>

        </div>
      </div>
    </div>

  </div>
</main>
<div th:replace="fragments/footer :: footer"></div>


</body>
</html>
