<!doctype html>
<div th:insert="fragments/header :: header"></div>
<main class="container">

  <div class="row mb-2">
    <div class="col-md-5">
      <br><br>
      <div class="alert alert-info" th:if="${message != null}" th:utext="${message}">message</div>
      <div class="alert alert-danger" th:if="${error != null}"
           th:utext="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error
      </div>

      <form role="form" th:action="@{/user}" th:method="post" th:object="${userWeb}">
        <div class="form-group row">
          <label class="col-sm-3" for="username" th:utext="#{label.user.firstName}">first</label>
          <span class="col-sm-5"><input class="form-control" id="username" required="required"
                                        th:field="*{username}"/></span>
          <span class="alert alert-danger col-sm-4" id="usernameError" th:errors="*{username}"
                th:if="${#fields.hasErrors('username')}"></span>
        </div>


        <div class="form-group row">
          <label class="col-sm-3" for="password" th:utext="#{label.user.password}">password</label>
          <span class="col-sm-5"><input autocomplete="new-password" class="form-control"
                                        id="password" name="password" required="required"
                                        type="password" value=""/></span>
        </div>

        <input type="submit">
      </form>
      <br><br><br>
      <div class=" row">
        <a th:href="@{/user/register}">Register</a>/
        <a th:href="@{/user/password}">Reset password</a>

      </div>
    </div>
    <div class="col-md-2">
      <div th:replace="fragments/sidebar :: sidebar"></div>
    </div>
  </div>

</main>

<div th:replace="fragments/footer :: footer"></div>


</body>
</html>