<!DOCTYPE html>
<html lang="en">

<div class="row mb-2" style="max-width: 330px; align-items: center;width: 100%;margin: auto;"
     th:fragment="formPasswordReset">

  <div th:replace="fragments/auth/tabs :: tabs"></div>


  <h3 th:utext="#{label.form.resetTitle}">form</h3>
  <br><br>
  <div class="alert alert-info" th:if="${message != null}" th:utext="${message}">message</div>
  <div class="alert alert-danger" th:if="${error != null}"
       th:utext="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error
  </div>

  <form role="form" st000yle="max-width: 300px;align-items: center;" th:action="@{/user/password}"
        th:method="post"
        th:object="${userWeb}">

    <div class="form-floating mb-1">
      <input class="form-control" id="email" placeholder="email123" required
             th:errorclass="is-invalid" th:field="*{email}" type="text">
      <label class="form-label" for="email" th:utext="#{label.user.email}">email</label>
      <!--        <div id="emailHelp" class="form-text">Min 3 characters</div>-->
      <div class="invalid-feedback" id="validationEmail" th:errors="*{email}"
           th:if="${#fields.hasErrors('email')}">
        Please provide a valid data.
      </div>
    </div>


    <input class="btn btn-primary" type="submit">
  </form>
</div>

<br><br><br>
<div class=" row">
  <a th:href="@{/user/register}">Register</a>/
  <a th:href="@{/user/password}">Reset password</a>

</div>
</html>