<!DOCTYPE html>
<html lang="en">

<div class="row mb-2" style="max-width: 330px; align-items: center;width: 100%;margin: auto;"
     th:fragment="formSignIn">

  <div th:replace="fragments/auth/tabs :: tabs"></div>


  <h3 th:utext="#{label.form.loginTitle}">form</h3>
  <br><br>
  <div class="alert alert-info" th:if="${message != null}" th:utext="${message}">message</div>
  <div class="alert alert-danger" th:if="${error != null}"
       th:utext="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error
  </div>
  <form role="form" st000yle="max-width: 300px;align-items: center;" th:action="@{/user}"
        th:method="post"
        th:object="${userWeb}">

    <div class="form-floating mb-1">
      <input class="form-control" id="username" placeholder="username123" required
             th:errorclass="is-invalid" th:field="*{username}" type="text">
      <label class="form-label" for="username" th:utext="#{label.user.username}">username</label>
      <!--        <div id="usernameHelp" class="form-text">Min 3 characters</div>-->
      <div class="invalid-feedback" id="validationUsername" th:errors="*{username}"
           th:if="${#fields.hasErrors('username')}">
        Please provide a valid data.
      </div>
    </div>

    <div class="form-floating mb-1">
      <input class="form-control" id="password" name="password" placeholder="password123" required
             type="password">
      <label class="form-label" for="password" th:utext="#{label.user.password}">password</label>
      <!--        <div id="passwordHelp" class="form-text">Min 3 characters</div>-->
      <!--        <div id="validationPassword" class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">-->
      <!--          Please provide a valid data.-->
      <!--        </div>-->
    </div>

    <!--      <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>-->


    <!--  <div class="form-group row">
        <label for="password" class="col-sm-3" th:utext="#{label.user.password}">password</label>
        <span class="col-sm-5"><input id="password" class="form-control" name="password" value="" type="password" required="required" autocomplete="new-password"/></span>
      </div>-->

    <input class="btn btn-primary" type="submit">
  </form>
</div>

<br><br><br>
<div class=" row">
  <a th:href="@{/user/register}">Register</a>/
  <a th:href="@{/user/password}">Reset password</a>

</div>
</html>